.wrapper{
    padding:1rem 4rem;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items:center;   
    width:100%;
    height:70px; 
    background: var( --nav-background);
    transition: all 0.3s ease;
    }
    
    .fixed{
        position:fixed;
        position:sticky;
        top: 70px;
        inset:0;
        z-index: 9999;
        background: var(--w-clr);
        border-bottom: 1px solid #fff;
        box-shadow: 0 2px 10px 2px;
    }
    
    .logo{
      max-width:100%;
      width:100px;  
      height:70px;
      display:block;
      cursor: pointer;
      margin-left:1rem;
    }
    
    .navigation{
        display:flex;
        justify-content: space-between;
        margin-right:2rem;
        align-items: center;
    }
    
    .navigation li{
        margin-left: 25px;
    }
    
    .navigation li a{
        text-decoration: none;
        text-transform: capitalize;
        font-size:1.25rem;
        display:block;
        cursor: pointer;
    }
    
    #join{
    padding:1rem 1.5rem;
    background-color:var(--join-btn);
    color:var(--w-clr);
    border-radius:10px;
    }
    
    .toggle{
        display:none;
    }
    
    @media screen and (max-width:900px){
    
    
    
    .navigation{
        opacity:0;
        position:fixed;
        padding-top:1rem;
        inset:0;
        height:100vh;
        flex-direction:column;
        justify-content: flex-start;
        align-items: center;
        background:#000;
        z-index: 999;
        top:70px; 
        width:100%;
        transition: all 600ms ease-in;
        transform: translateX(-100%);
    }
    
    .navigation > li{
        margin-top:1.25rem;
        transform: scale(0);
         color:var(--w-clr);
       
    }
    
    .navigation > li > a{
        font-size: 2rem;
        color:var(--w-clr);
        line-height: 40px;
    }
    
    .active_menu{
       opacity: 1;
       transform: translateX(0%);
    
    }
    
    
    .active_menu > li{
        transform: scale(1);  
    }
    
    
    
    #join{
        display: none;
    }
    
    
    .toggle{
        display:block;
        position:absolute;
        cursor:pointer;
        top:15px;
        right:15px;
    
    
    }
    
    .toggle:hover{
        transform:rotate(180deg)
    }
    .toggle > img{
        width:30px;
    }
    }
    /* navigation ends*/
    

.about-hero{
   height:500px;
    width: 100%;
    display: flex;
   align-items: flex-end;
    margin: auto 0;
    background:linear-gradient(200deg, rgba(0, 2, 8, 0.64), rgba(0, 0, 0, 0.634)), url("../images/female-mini-min.jpg");
    background-position: center;
    background-size: cover;
}

.about-hero h1{
padding: 1rem;
color:var(--w-clr);
text-transform: uppercase;
}

.divider{
    width:40%;
     height:5%;
 border-top:5px solid rgba(196, 184, 10, 0.781);
 margin-top:-20px;
 }

 .about-header{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     gap:50px;
 }

.header-text{
    font-weight: 700;
    max-width: 50%;
}

.header-logo{
width:80%;
height:30%;
margin:6rem auto;
padding:2rem 0.5rem; 
box-shadow: 2px 2px 20px 3px #000;
display:grid;
border-radius: 15px;
place-items: center;
object-fit: cover;
}

.header-logo > img{
    width:50%;
}

.about-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}

.body-text-pt1 p::first-letter{
font-size:80px;
color:red;
}


.about-studygraph{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:3rem auto;
    gap:20px;
}

.graph-info{
    width:50%;
}
.graphcolor{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(10, auto);
}

.num-graph{
    padding:1rem 2rem;
   
    text-align: center;
}

.num-graph:nth-child(2n+1){

    background:rgba(255, 0, 0, 0.37);
    font-size: 30px;
}


.clr-1{
    background:rgba(224, 226, 231, 0.164) !important;
}


.before-footer{
    height:400px;
    background: chocolate;
}
 footer{
    background-color: rgba(0, 0, 0, 0.9);
    height:100px;
    width: 100%;
    color:#fff;
   margin:auto 0;
   padding:1rem;
}

footer p{
    color:#fff;
    text-align: center;
    padding:1rem 0.5rem;
    font-size: 1rem;
}