.wrapper{
    padding:1rem 4rem;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items:center;   
    width:100%;
    height:70px; 
    background: var( --nav-background);
    transition: all 0.3s ease;
    }
    
    .fixed{
        position:fixed;
        position:sticky;
        top: 70px;
        inset:0;
        z-index: 9999;
        background: var(--w-clr);
        border-bottom: 1px solid #fff;
        box-shadow: 0 2px 10px 2px;
    }
    
    .logo{
      max-width:100%;
      width:100px;  
      height:70px;
      display:block;
      cursor: pointer;
      margin-left:1rem;
    }
    
    .navigation{
        display:flex;
        justify-content: space-between;
        margin-right:2rem;
        align-items: center;
    }
    
    .navigation li{
        margin-left: 25px;
    }
    
    .navigation li a{
        text-decoration: none;
        text-transform: capitalize;
        font-size:1.25rem;
        display:block;
        cursor: pointer;
    }
    
    #join{
    padding:1rem 1.5rem;
    background-color:var(--join-btn);
    color:var(--w-clr);
    border-radius:10px;
    }
    
    .toggle{
        display:none;
    }
    
    @media screen and (max-width:900px){
    
    
    
    .navigation{
        opacity:0;
        position:fixed;
        padding-top:1rem;
        inset:0;
        height:100vh;
        flex-direction:column;
        justify-content: flex-start;
        align-items: center;
        background:#000;
        z-index: 999;
        top:70px; 
        width:100%;
        transition: all 600ms ease-in;
        transform: translateX(-100%);
    }
    
    .navigation > li{
        margin-top:1.25rem;
        transform: scale(0);
         color:var(--w-clr);
       
    }
    
    .navigation > li > a{
        font-size: 2rem;
        color:var(--w-clr);
        line-height: 40px;
    }
    
    .active_menu{
       opacity: 1;
       transform: translateX(0%);
    
    }
    
    
    .active_menu > li{
        transform: scale(1);  
    }
    
    
    
    #join{
        display: none;
    }
    
    
    .toggle{
        display:block;
        position:absolute;
        cursor:pointer;
        top:15px;
        right:15px;
    
    
    }
    
    .toggle:hover{
        transform:rotate(180deg)
    }
    .toggle > img{
        width:30px;
    }
    }
    /* navigation ends*/
    



.join-hero{
    height:300px;
     width: 100%;
     display: flex;
     align-items: flex-end;
     margin: auto 0;
     background:linear-gradient(rgba(29, 88, 143, 0.7), rgba(0, 0, 0, 0.9)), url("https://cdn.pixabay.com/photo/2020/11/19/08/03/college-5757815_960_720.jpg");
     background-position: center;
     background-size: cover;
 }
 
 .join-hero h1{
 padding: 1rem;
 color:var(--w-clr);
 text-transform: uppercase;
 }

 .join-slider{
     display:grid;
     grid-template-columns: 1fr 1fr;
     justify-content: center;
     align-items: center;
     padding:5rem 2rem;
 }

form{
    background:var(--join-btn);
    opacity:0.9;
    width:95%;
    padding:2rem 1rem;
    border-radius:15px;
}

label{
    color:var(--w-clr);
    text-transform:capitalize;
   
}

input{
    border:0;
    padding: 0.5rem;
    margin:1rem auto;
}

input:focus-within{
    border:2px solid red;
}

.name{
    display:flex;
    padding:1rem;
    align-items: center;
    justify-content: center;
    gap:20px;
}

input[type = "text"] {
border:0;
background:rgba(255, 255, 255, 0.775);
border-radius: 5px;
}
input[type ="number"]{
    border:0;
    background:rgba(255, 255, 255, 0.775);  
    border-radius: 5px;
}

.btn-submit button{
    display:block;
    margin:1rem auto;
    width:60%;
    padding:0.5rem;
    border:0;
    border-radius: 10px;
    background-color: var(--btn-clr);
    text-transform: capitalize;
    transition: all  0.5s ease;
}

.btn-submit button:hover{
background:#000;
color:var(--w-clr);
transform: scale(1.1);
}

.footer-before{
    height:400px;
    background:linear-gradient(rgba(29, 88, 143, 0.7), rgba(0, 0, 0, 0.9)), url("https://cdn.pixabay.com/photo/2017/09/08/00/38/friend-2727307_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:1rem;
    color:var(--w-clr);

}

.footer-before article h1{
    font-size: 56px;
    text-transform: capitalize;
}

.divider{
    width:40%;
     height:5%;
     border-top:5px solid rgba(196, 184, 10, 0.781);
     margin-top:20px;
 }

 footer{
    background-color: rgba(0, 0, 0, 0.9);
    height:100px;
    width: 100%;
    color:#fff;
    margin:auto 0;
    padding:1rem;
}

footer p{
    color:#fff;
    text-align: center;
    padding:1rem 0.5rem;
    font-size: 1rem;
}


@media (max-width:760px){
    .join-slider{
       grid-template-columns: 1fr;
      gap:50px;
    }
    form{
        width:100%;
        display:block;
        margin:0.25rem auto;
    }
    .name{
        display:flex;
        flex-direction: column;
    }
    input{
        width:100%;
    }
    .join-about-slider{
        order: 2;
       gap:50px;
    }
}