.wrapper{
    padding:1rem 4rem;
}

.join-hero{
    height:300px;
     width: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: end;
         -ms-flex-align: end;
             align-items: flex-end;
     margin: auto 0;
     background:-webkit-gradient(linear, left top, left bottom, from(rgba(29, 88, 143, 0.7)), to(rgba(0, 0, 0, 0.9))), url("https://cdn.pixabay.com/photo/2020/11/19/08/03/college-5757815_960_720.jpg");
     background:-o-linear-gradient(rgba(29, 88, 143, 0.7), rgba(0, 0, 0, 0.9)), url("https://cdn.pixabay.com/photo/2020/11/19/08/03/college-5757815_960_720.jpg");
     background:linear-gradient(rgba(29, 88, 143, 0.7), rgba(0, 0, 0, 0.9)), url("https://cdn.pixabay.com/photo/2020/11/19/08/03/college-5757815_960_720.jpg");
     background-position: center;
     background-size: cover;
 }
 
 .join-hero h1{
 padding: 1rem;
 color:var(--w-clr);
 text-transform: uppercase;
 }

 .join-slider{
     display:-ms-grid;
     display:grid;
     -ms-grid-columns: 1fr 1fr;
     grid-template-columns: 1fr 1fr;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     padding:5rem 2rem;
 }

form{
    background:var(--join-btn);
    opacity:0.9;
    width:95%;
    padding:2rem 1rem;
    border-radius:15px;
}

label{
    color:var(--w-clr);
    text-transform:capitalize;
   
}

input{
    border:0;
    padding: 0.5rem;
    margin:1rem auto;
}

input:focus-within{
    border:2px solid red;
}

.name{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    padding:1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap:20px;
}

input[type = "text"] {
border:0;
background:rgba(255, 255, 255, 0.775);
border-radius: 5px;
}
input[type ="number"]{
    border:0;
    background:rgba(255, 255, 255, 0.775);  
    border-radius: 5px;
}

.carousel-item img{
   -o-object-fit: cover;
      object-fit: cover; 
   max-width: 100%;
   height:400px;
}


.btn-submit button{
    display:block;
    margin:1rem auto;
    width:60%;
    padding:0.5rem;
    border:0;
    border-radius: 10px;
    background-color: var(--btn-clr);
    text-transform: capitalize;
    -webkit-transition: all  0.5s ease;
    -o-transition: all  0.5s ease;
    transition: all  0.5s ease;
}

.btn-submit button:hover{
background:#000;
color:var(--w-clr);
-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.footer-before{
    height:400px;
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(29, 88, 143, 0.7)), to(rgba(0, 0, 0, 0.9))), url("https://cdn.pixabay.com/photo/2017/09/08/00/38/friend-2727307_960_720.jpg");
    background:-o-linear-gradient(rgba(29, 88, 143, 0.7), rgba(0, 0, 0, 0.9)), url("https://cdn.pixabay.com/photo/2017/09/08/00/38/friend-2727307_960_720.jpg");
    background:linear-gradient(rgba(29, 88, 143, 0.7), rgba(0, 0, 0, 0.9)), url("https://cdn.pixabay.com/photo/2017/09/08/00/38/friend-2727307_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:1rem;
    color:var(--w-clr);

}

.footer-before article h1{
    font-size: 56px;
    text-transform: capitalize;
}

.divider{
    width:40%;
     height:5%;
     border-top:5px solid rgba(196, 184, 10, 0.781);
     margin-top:20px;
 }

 footer{
    background-color: rgba(0, 0, 0, 0.9);
    height:100px;
    width: 100%;
    color:#fff;
    margin:auto 0;
    padding:1rem;
}

footer p{
    color:#fff;
    text-align: center;
    padding:1rem 0.5rem;
    font-size: 1rem;
}


@media (max-width:900px){
    .join-slider{
       -ms-grid-columns: 1fr;
       grid-template-columns: 1fr;
      gap:50px;
    }
    form{
        width:100%;
        display:block;
        margin:0.25rem auto;
    }
    .name{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    input{
        width:100%;
    }
    .join-about-slider{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
       gap:50px;
    }
}