
/* navigation */

nav{
display:flex;
justify-content: space-between;
align-items:center;   
width:100%;
height:80px; 
background: rgba(255, 255, 255, 0.8);
}

.fixed{
    position:absolute;
    position: sticky;
    top: 80px;
    inset:0;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease;
    border-bottom: 1px solid #fff;
    box-shadow: 0 2px 10px 2px;
}

.logo{
  max-width:100%;
  width:120px;  
  height:80px;
  display:block;
  cursor: pointer;
  margin-left: 1rem;
}

ul{
    display:flex;
    justify-content: space-between;
    margin-right:2rem;
}
li{
    margin-left: 25px;
}

li > a{
    text-decoration: none;
    text-transform: capitalize;
    font-size:1.15rem;
    cursor: pointer;
}

#join{
padding:1rem 1.5rem;
background-color:var(--join-btn);
color:#fff;
border-radius:10px;
}

.toggle{
    display:none;
}

@media screen and (max-width:1100px){

.navigation > li{
    margin-top:1.25rem;
    transform: scale(1);
     opacity:1;
     transition: all 800ms ease-in;
     color:#fff;
   
}
.navigation li > a{
    color:#fff;
    font-size: 2rem;
    display:block;
    color:#fff;
    line-height: 40px;
    transition: all 800ms ease-in;
    display:block;
}

.navigation{
    transform: scale(0);
    transition: all 800ms ease-in;
    display:flex;
    position:fixed;
  padding-top:1rem;
    scroll-behavior: unset;
    inset:0;
    height:100vh;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    backdrop-filter: blur(50px);
    z-index: 999;
    top:80px;
    width:100vw;
    transition: all 600ms ease-in;
}


.active_menu{
   transform: scale(1);
    transition: all 600ms ease-in;
}





#join{
    display: none;
}


.toggle{
    display:block;
    position:absolute;
    cursor:pointer;
    top:15px;
    right:15px;

}
.toggle > img{
    width:40px;
}
}
/* navigation ends*/


/* hero */

.hero{

    background:linear-gradient(0deg, rgba(0 0 0 / 44%), rgba(0 0 0 / 19%)), url("../images/female.webp");
   
    height:100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    
}
h1{
    font-weight: 900;
    text-transform: uppercase;
    color:#fff;
    font-size: 2.75rem;
    padding:2rem;
    line-height: 60px;
    margin-bottom: 2rem;
}
.hero-btn{
    margin:4rem auto;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-size: 20px;
    color:#fff;
    margin-left:1.5rem;
    box-shadow: 2px 2px 20px 2px #000;
    border-radius: 20px;
text-transform: capitalize;
}

.hero-btn:hover{
background:rgba(255, 255, 255, 0.39);
}

.hero_video{
box-shadow:2px 4px 20px 5px rgb(73, 69, 69);
margin:0 4rem;
background: url("../images/Medical-students.jpg");
background-size: cover;
width:60%;
height:50%;
display: flex;
align-items: center;
justify-content: center;
  cursor: pointer;
  font-size: 80px;
  color:#fff;
  
}

.hero_video > .video-popup{
    z-index:10;
}

.overlay{
    background:rgba(0 0 0 / 59%);
    position: fixed;
    inset:0;
    pointer-events: none;
    z-index: 50;
   opacity:0;
   pointer-events: none;
   display:none;
}

 .active{
    pointer-events: all;
    opacity:1;
}
#modal{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    display:none;
    z-index: 100;
    transition: all 200ms ease-in-out;

}



.fa-times-circle{
    position:absolute;
    top:20px;
   right:10%;
   font-size: 40px;
   color:#fff;
   cursor:pointer;  
   z-index: 50;
   display:none;
   z-index: 100;
}

.active{
    display:block;
}




.ocean { 
  height: 2%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg') repeat-x; 
  position: absolute;
  top: -168px;
  width: 100vw;
  max-width:100%;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -125px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

@media (max-width:760px){
.hero{
    flex-direction: column;
    height:100vh;
    overflow:hidden;
    padding:1rem;
    gap:1rem;
}
.hero-btn{
    display:block;
    margin:auto;
    width:70%;
    margin-bottom:0.25rem;

}

h1{
    margin:0;
    font-size:30px;
    line-height: 40px;
}
.hero_video{
    width:90%;
    margin:1rem auto;
}

}

/* ends hero section */

.pt-2{
    margin:0 4rem;
    padding:6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 0;
}

.h1-story{
    padding-top:8rem;
    color:var(--head-clr);
    text-transform: uppercase;
}
.divider{
  width:10%;
    background:rgba(196, 184, 10, 0.781);
    height:5px;
    margin-top:-30px;
    margin-left:2rem;

}

.story{
    padding:3rem 0;
    text-align: left;
    line-height: 30px;
    max-width:70%;
}
strong{
    font-weight:900;

}
.story-btn{
    text-decoration: none;
    padding:1.25rem 1.75rem;
    background:var(--btn-clr);
    border-radius: 20px;
    color:#000 !important;
    text-transform: uppercase;
    font-size: 16px;
}

.story-btn:hover{
    background:#000;
    color:#fff;
}

.cards{
width:100%;
height:60%;
margin-top:8rem;
padding:3rem 0.5rem; 
box-shadow: 2px 2px 20px 3px #000;
display:grid;
border-radius: 15px;
place-items: center;
object-fit: cover;
}
.cards img{
    display:block;
    max-width: 100%;
    height:200px;
    width:auto;
}
.story-subtile{
    margin-top:2rem;
}
.story-subtile > p{
    font-size: 18px;
    font-weight:200;
    color:rgba(0, 0, 0, 0.671)
}
.icon{
    background:rgba(0, 0, 8, 0.986);
    width:50px;
    padding:1rem;
    display:block;
   margin:1rem auto;
   border-radius: 50%;
}


/* section ends */

@media (max-width:760px){
    .pt-2{
        flex-direction: column;
        margin:1rem auto;
        max-width:90%;
    }
    .h1-story{
        max-width:100%;
        padding:2rem 1rem ;
    }
    .story {
        max-width:100%;
      
    }
}

/* section-3 */
.pt-3{
    padding-top:-100px;
    border:0;
}
.pt-3-sect{
    background:#000b76;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  padding:2rem;
  gap:2rem;
  height:auto;
  border:0;
}


.accordion{
width:95%;
padding:1px;
margin:0.25rem auto;
}

.question_body{
 transform: scale(0);
   height: 0;
    overflow: hidden;
    background:rgba(0, 0, 0, 0.44);
    color:#fff;
    font-size:16px;
    line-height: 2;
    transition: all 0.5s ease-in-out;
}
.question_body > p{
    padding: 1rem;
}
.questions{
width:80%;
margin:auto;
padding:0.5rem;
margin-bottom: 0.5rem;
display:block;
}
.question-btn{
    width:100%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0.75rem;
    border:0;
    background:rgba(255, 255, 255, 0.76);
    border-radius:5px;

}
.qn-icon-down {
    transform:rotate(0deg);
    transition: all 0.2s ease-in-out;
    }


.rotate{
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
}
.m-0{
margin:0;
background: url(https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?cs=srgb&dl=pexels-pixabay-267885.jpg&fm=jpg);
background-position: center;
background-size: cover;
height:400px;
}
.show-question .question_body{
transition: all 0.4s ease-in-out;
transform: scale(1);
   height: auto;
}
@media (max-width:760px){
    .pt-3-sect{
        flex-direction: column;
    }
    .questions{
        width:100%;
   
        }
}


/* section4 */

.pt-4{
    padding: 1rem 3rem;

}

.divider-pt-4{
    width:50%;
    margin:2rem 0;
    border-bottom: 5px solid #000b76 ;
}
.pt-4-body > p{
margin:2rem 0;
}
.pt-4-body :first-of-type{
font-weight: 900;
}


/* section-5 */

.pt-5{
    padding:1rem;
}

.card-info{
    width:350px;
    height:80%;
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.445);
border-radius:10px;
padding:2rem auto;
}
.card-info:hover{
    box-shadow: 20px 0px 50px 2px rgba(100, 18, 110, 0.7); 
}

.image-container{
    width:90px;
    height: 90px;
    border-radius:50%;
    background:#fff;
    margin:1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 20px 2px rgba(2, 0, 0, 0.377);
}

.image-header >img{
    width:50px;
    height:50px;
    display:block;
    border-radius:50%;
    
}
.image-header{
    width:70px;
    height: 70px;
    border-radius:50%;
    background:var(--secondary-clr);
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-header:hover{
    background:rgb(100, 18, 110);
}

.card-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom:5rem; 
}
.image-paragraph {
    overflow: hidden;
    padding:2rem 2rem;
}

.image-paragraph > p{
    overflow: hidden;
    margin-bottom: 2rem;

}
.image-paragraph > h4{
    font-size:22px;
    text-align: center;
    font-weight: 900;
    line-height: 2rem;
}
.card-2{
    margin-top:400px;
}
.card-1{
    margin-top:-200px;
}
@media (max-width:760px){
    .card-wrapper{
        flex-direction: column;
    }
    .card-2{
        margin-top:50px;
    }
    .card-1{
        margin-top:-30px;
    }
}


/* section -6 */

.pt-6{
    padding:1rem 3rem;
}

.pt-6 > h2{
    text-align:right;
}

.divider-pt-6{
   
    width:50%;
    display: block;
    margin-left:auto;
    margin-right:0.5rem;
    border-bottom: 5px solid #000b76 ;
    margin-bottom:2rem;
}
.services{
   display:flex;
   justify-content: center;
   align-items: center;
}
.li-heading{
text-transform: capitalize;

}

.service-list{
    display:block;
  border-left:1px solid #000b76;
  padding:1.5rem 1rem;
  margin:2rem 0;
}



.service-lists{
   display: block; 
   list-style-type: none;
   padding:1rem 0;
   margin:0.25rem auto;
 }

.service-lists > p{
 margin-top:1rem;
 text-transform: capitalize;

}
.service-lists >i{
    font-size: 25px;
    width:50px;
    height:50px;
    background: #000b76;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    border-left:1px;
    border-color: #000b76;
   }

   /* end section */
 

@media (max-width:900px){
    .services{
        flex-direction: column;
    }
}

   /* section part 7 */
.pt-7{
    background:#000b76;
    padding:3rem 1rem;
}
   .pt-7-card{
       display:flex;
       justify-content: space-around;
       align-items: center;
       gap:20px;
   }
   .pt-7 > p{
       color:#fff;
       padding:1rem;
       text-transform:capitalize;
   }

   .pt-7 > h3{
    color:#fff;
    padding:1rem;
    text-transform:capitalize;
    padding:3rem 1rem;
}

   .card{
       padding:2rem 1rem;
       width:30%;
       box-shadow: 1px 1px 10px #000;
   }
   .card img{
       width:100%;
       display:block;
       height:250px;
       object-fit: cover;
   }
   .card-title{
       font-size: 2rem;
       padding:1rem 0;

   }

   .card-text{
       padding-bottom:1rem;
       color:rgba(0, 0, 0, 0.6);
   }

   @media (max-width:900px){
   .pt-7-card{
       flex-direction: column;
   }
   .card{
       width:90%;
   }
   }


   /* section part 8 (contact) */

   .pt-8{
padding:3rem 1.5rem;

   }

   .pt-8 > h3{
    text-transform: capitalize;
    
       }
       .contact{
           display:flex;
           align-items: center;
           justify-content: space-around;

    }
    .address{
     width:50%;
    }
    .icon-address{
        display:flex;
        gap:20px;
        margin:1.5rem auto;
    }
    
    .icon-address > i{
        font-size: 30px;
    }
    .icon-address > p{
       text-transform: capitalize;
    }

.btn:hover{
    color:#fff;
}



@media (max-width:900px){
    .contact{
        flex-direction: column;
    }
    .address{
        width: 90%;
    }
}



    footer{
        background-color: rgba(0, 0, 0, 0.9);
        height:100px;
        width: 100%;
        color:#fff;
       margin:auto 0;
       padding:1rem;
    }

    footer > p{
        color:#fff;
        text-align: center;
        padding:1rem 0.5rem;
    }