
.thank_you{
display:grid;
place-items: center;
height:100vh;
}

.message{
width:70%;
min-height:300px;
background:var(--join-btn);
opacity: 0.9;
color:#fff;
text-transform: capitalize;
text-align: center;
padding:2rem;
border-radius:10px;
}
.message--imp{
    margin-top: 1rem;
    font-weight: 900;
}

.count{
   font-size: 30px;
}
lottie-player{
    position: absolute;
    inset:0;
}